#menu {
  background: black;
  height: 70px;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
  z-index: 999;
}

#menu #linkedin-logo {
  position: absolute;
  top: 27px;
  right: 55px;
  height: 20px;
  cursor: pointer;
}

#menu #github-logo {
  position: absolute;
  top: 22px;
  right: 10px;
  height: 35px;
  cursor: pointer;
}

@media(min-width: 40em) {
  #menu #linkedin-logo {
    right: 90px;
    height: 25px;
  }
  #menu #github-logo {
    right: 30px;
    height: 40px;
  }
}

#menu.visible {
  top: 0;
}

#menu.hidden {
  top: -70px;
}

#menu .menu-item-container {
  display: flex;
  margin-top: 28px;
}

#menu .options-container {
  display: flex;
}

#menu .menu-item-container .menu-item{
  cursor: pointer;
  color: #a0a7ab;
  text-align: center;
  margin-left: 30px;
  transition: .5s all ease-out;
  text-decoration: none;
  padding: 2px 3px 2px 5px;
  border-radius: 3px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
}

#menu .menu-item-container .menu-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
  margin-top: -4px;
  font-family: "Lato";
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

#menu .menu-item-container .menu-logo:hover {
  -webkit-animation-duration: 1s;
  -webkit-animation-name: glow;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-name: glow;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@-webkit-keyframes glow {
    from { text-shadow: 0 0 0px aliceblue; }
    to { text-shadow: 0 0 20px aliceblue; }
}

#menu .menu-item-container .menu-logo > div {
  margin-bottom: 2px;
  color: white;
}

#menu .menu-item-container .menu-item.active, #menu .menu-item-container .menu-item:hover{
  color: white;
  /* text-shadow: 2px 4px 3px rgba(250, 250, 250, 0.3); */
}

#menu .menu-item-container.small {
  min-width: 320px;
}
#menu .menu-item-container.small .menu-logo {
  margin: -4px auto 0px;
}

#drop-down-menu {
  position: absolute;
  width: 250px;
  top: 0px;
}

#drop-down-menu .options-container {
  flex-direction: column;
  transition: .2s all ease-out;
  width: 250px;
  background: black;
  position: absolute;
  top: 70px;
}

#drop-down-menu .options-container.visible.drop-down-open {
  display: flex;
}

#drop-down-menu .options-container.hidden, #drop-down-menu .options-container.drop-down-close {
  display: none !important;
}

#drop-down-menu .options-container .menu-item {
   text-align: left;
   padding: 15px 30px;
   margin-left: 0px;
   border-radius: 0px;
}

#drop-down-menu .options-container .menu-item.active,#drop-down-menu .options-container .menu-item:hover {
   background: #4a4a4a;
}

#drop-down-menu img {
  height: 50px;
  background: transparent;
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 2;
  cursor: pointer;
}

#drop-down-logo-background {
  background: white;
  position: absolute;
  left: 25px;
  top: 25px;
  height: 30px;
  width: 30px;
}
