#menu {
  background: linear-gradient(35deg, #45565f , #edf9ff);
  height: 70px;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
  z-index: 99999;
}

#menu.visible {
  top: 0;
}

#menu.hidden {
  top: -70px;
}

#menu .menu-item-container {
  display: flex;
  margin-top: 28px;
}

#menu .menu-item-container .menu-item{
  cursor: pointer;
  color: #c8d5dc;
  text-align: center;
  margin-left: 30px;
  transition: .5s all ease-out;
  text-decoration: none;
  padding: 2px 3px 2px 5px;
  border-radius: 3px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
}

#menu .menu-item-container .menu-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
  margin-top: -4px;
  font-family: "Lato";
  color: #e7faff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

#menu .menu-item-container .menu-logo > div {
  margin-bottom: 2px;
}

#menu .menu-item-container .menu-item.active, #menu .menu-item-container .menu-item:hover{
  color: white;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}
