#menu {
  background: linear-gradient(35deg, #45565f , #cbdde6);
  height: 70px;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
  z-index: 99999;
}

#menu.visible {
  top: 0;
}

#menu.hidden {
  top: -70px;
}

#menu .menu-item-container {
  display: flex;
  margin-top: 28px;
}

#menu .menu-item-container .menu-item{
  cursor: pointer;
  color: white;
  text-align: center;
  margin-left: 30px;
  transition: color 0.3s linear;
}

#menu .menu-item-container .menu-item.active{
  /* color: white; */
}

#menu .menu-item-container .menu-item:hover{
  /* color: white; */
}
