#projects-section h2{
  width: max-content;
  font-size: 2rem;
  color: #3e3e3e;
  margin: 0rem auto 45px;
  padding-top: 1.5rem;
}

@media print, screen and (min-width: 45em) {
  #skills-section h2{
    font-size: 2.5rem;
  }
}

#projects-section .masonry-container {
  display: flex;
  justify-content: center;
  margin: auto;
}

#projects-section .project-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 350px;
  width: 350px;
  background: transparent;
  border: 1px solid #5d5a5a;
  border-radius: 5px;
  margin-bottom: 50px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  color: white;
  background: black;
}

#projects-section .project-card h4 {
  display: flex;
  margin: 15px 0px 25px 0px;
}

#projects-section .project-card h6 {
  display: flex;
  position: absolute;
  bottom: 25px;
}

#projects-section .project-card img {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

@media print, screen and (min-width: 45em) {
  #projects-section .project-card {
    margin: 0px 100px 100px 100px;
  }
}
