.section {
  width: 100%;
  height: 100vh;
  min-height: 450px;
}

.section-content {
  width: 100%;
  height: 100%;
}

.section.white {
  background: white;
  color: #390B46;
}
.section.lightgray {
  background: #f7f7f7;
  color: #390B46;
}

.section.color2 {
  background: #c8d9e2;
  color: white;
}
