#top-section {
  background: url(../../images/backgrounds/sf-downtown-night2.jpg);
  height: 100%;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
  margin: 0;
  position: relative;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

#top-section h1, #top-section h3{
  margin-left: 10px;
  margin-right: 10px;
}
